.book-container {
  background-color: white;
  list-style: none;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border: solid 1px var(--white);
  border-radius: 4px;
}

.category {
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.title-book {
  font-family: "Roboto Slab", serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.author {
  font-family: "Roboto Slab", serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.btn-actions {
  font-family: "Roboto Slab", serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  border: none;
  background-color: transparent;
  padding: 0;
}

.btn-actions:hover {
  cursor: pointer;
  transform: scale(1.1);
  font-weight: bold;
}

.Line-2 {
  width: 0.125rem;
  height: 1.5rem;
  border: solid 1px #e8e8e8;
  margin: 0 1rem;
}

.percentage {
  width: 4.25rem;
  height: 4.25rem;
}

.p-completed {
  column-gap: 1.3rem;
}

.Line-3 {
  width: 0.125rem;
  height: 50%;
  border: solid 1px #e8e8e8;
  margin-left: 5rem;
  margin-right: 3.6rem;
}

.btn-update {
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: var(--azure);
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  border: none;
}

.btn-update:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.p-value {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.completed {
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.current {
  opacity: 0.5;
  font-family: "Roboto Slab", serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.chapter {
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: var(--black-two);
}

.book-container-b {
  margin-bottom: 10rem;
}
